@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,500&display=swap');

.contenedor {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 120px;
    gap: 0px 0px;
    grid-template-areas:
        "navar navar navar"
        "main main main"
        "main main main"
        "footer footer footer";
}

.navar {
    grid-area: navar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


/* -------------------------------- HEADER -----------------------------*/


.navar header {
    width: 100%;
    background: #4E94AB;
}

#btn-menu {
    display: none;
}

.navar header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

.navar header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3)
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu li {
    border-right: 1px solid #fff;
    text-align: center;
    flex-grow: 1;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

/*------------------------------- MAIN  ------------------------------*/

.grid {
    display: flex;
    flex-wrap: wrap;
}

/* HERO  */

.hero {
    background-image: url("../img/pileta1.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    padding: 15px 0;
}

.hero div {
    color: rgb(159, 63, 14);
    text-align: center;
}

.hero div a {
    text-decoration: none;
    color: rgb(70, 118, 206);
    margin: 3px;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
}

.hero div h2 {
    text-align: center;
}

/** --------------------------------- TITULO PSJ --------------------------*/

.tituloPSJ {
    font-size: 85px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: rgb(159, 63, 14);
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
}

.stituloPSJ {
    font-size: 40px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: rgb(159, 63, 14);
    text-align: center;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
}

.tituloPileta {
    font-size: 30px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: rgb(159, 63, 14);
    text-align: center;
}

/** --------------------------------- TEXTOS VARIOS --------------------------*/

.subtituloPileta {
    font-size: 35px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: rgb(159, 63, 14);
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border-radius: 20px;
}

.TextoLargo {
    font-size: 70px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: rgb(159, 63, 14);
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-radius: 20px;
}

/** --------------------------------- SERVICIOS POST OBRA --------------------------*/



.limpiezaPiscinas {
    font-size: 25px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: rgb(159, 63, 14);
    background-image: url(../img/limpiezaPiscinas1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5%;
    margin-top: 7%;
    text-align: center;
    border-radius: 20px;
}

.limpiezaPiscinas ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.9);
    margin-bottom: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5%;

}


/** --------------------------------- TARJETAS INDEX --------------------------*/

.enlacesFlot {
    display: flex;
    background-image: url(../img/pileta2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 30%;
    margin-top: 5%;
    border-radius: 5%;
}

/** ------------------------------ FORM --------------------------------*/


form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

input,
textarea {
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #31384a;
    color: rgb(12, 162, 152);
    padding: 20px;
}





/** --------------------------------- NUESTROS TRABAJOS --------------------------*/


.caja.galeria-caja {
    width: 900px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.galeria-caja h1 {
    color: rgb(159, 63, 14);
    margin-top: 50px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
}

.galeria {
    border-radius: 20px;
    margin-bottom: 150px;

}

.galeria img {
    border-radius: 20px;
    width: 850px;
    height: 850px;
    margin-top: 5px;
    margin-bottom: 60px;
}


/** --------------------------------- FOOTER --------------------------*/

.footer {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

.footer img {
    background-color: none;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/** --------------------------------- MEDIA --------------------------*/

/* NAV */

@media (max-width:768px) {
    .navar header label {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .menu {
        position: absolute;
        background: #4E94AB;
        margin-left: -70%;
        transition: all 0.3s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked~.menu {
        margin: 0;
    }

    .main .grid {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

/* @media only screen and (min-width: 320px) and (min-width: 480px) and (min-width: 600px) and (min-width: 1024px) and (min-width: 1200px) and (min-width: 1440px){

} */