/** --------- MEDIA ---------*/

/* BODY */

@media (max-width:768px) {
    body {
        margin: 0;
        box-sizing: border-box;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 1fr 60px;
        gap: 0px 0px;
        grid-template-areas: "navar navar" "main main" "footer footer";
    }

    header {
		label {
			display: block;
		}
	}
	.menu {
		position: absolute;
		background: $color-celeste;
		background: $gradiente;
		width: 70%;
		margin-left: -70%;
		transition: all 0.3s;
		z-index: 1;
		ul {
			flex-direction: column;
		}
		li {
			border-top: 1px solid #fff;
		}
	}
	#btn-menu {
		&:checked~.menu {
			margin: 0;
        }
    }

    .hero {
        .indexText {
            .logo {
                width: 100%;
            }
        }
    }

    .videoPiscinaDron {
        iframe {
            width: 100%;
            height: 315;
        }
    }

    .subtituloPileta {
        list-style-type: none;
        margin: 4px;
        width: auto;
        height: auto;
        text-shadow: 1px 1px 5px #fff;
        border-radius: 5%;
    }

    .TextoLargo {
        font-size: 20px;
        list-style-type: none;
        margin: 5%;
        width: auto;
        height: auto;
        text-shadow: 1px 1px 5px #fff;
        border-radius: 5%;
    }

    .limpiezaPiscinas {
        ul {
            list-style-type: none;
            background-color: sombra;
            margin: 4px;
            width: auto;
            height: auto;
            text-shadow: 1px 1px 5px #fff;
            border-radius: 5%;
        }
    }

    form {
        width: auto;
        margin: auto;
        background: rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .footer {
        background: $color-celeste;
        background: $gradiente;
        text-align: center;
        width: 100%;

        img {
            margin: 0;
            padding: 0;
        }
    }
}