//! VARIABLES

$color-celeste: rgb(78, 148, 171);
$color-oscuro: rgb(19, 18, 18);
$gradiente: linear-gradient(58deg, rgba(78, 148, 171, 1) 17%, rgba(215, 255, 241, 1) 34%, rgba(45, 175, 206, 1) 54%, rgba(170, 252, 184, 1) 78%, rgba(140, 215, 144, 1) 94%);
$sombra: rgba(0, 0, 0, 0.6);